<section class="filters">
     <div class="filter-section">
      <form class="filter-form">
        <div class="oval-container">
          <input type="text" class="keyword-input" placeholder="Search for anything" />
          <button type="submit" class="submit-btn">
            <svg class="icon-search" width="20" height="20">
              <use
                href="/img/symbol-defs.svg#icon-search"
              ></use>
            <!-- <img src="/icons9.png" alt="finding" width="14" /> -->
            <!-- <img src="/ic_baseline-search.svg" alt="finding" width="20" /> -->
            <!-- <img src="/images/symbol-defs.svg#icon-search" alt="finding" width="20" /> -->
          </button>
        </div>
        <select id="category-select" class="arrow-icon">
          <option value="">Categories</option>
          <!-- Категории будут добавлены динамически через JavaScript -->
        </select>

        <!-- <select id="category-select-letter" class="arrow-icon">
          <option value="a-z">A to Z</option>
          <option value="z-a">Z to A</option>
          <option value="cheap">Cheap</option>
          <option value="expensive">Expensive</option>
          <option value="popular">Popular</option>
          <option value="not-popular">Not popular</option>
        </select> -->
      </form>
    </div>
   </section>