<section class="filters">
     <div class="filter-section">
      <form class="filter-form">
        <div class="input-box">
          <input type="text" class="keyword-input" placeholder="Search for anything" />
          <button type="submit" class="submit-btn">
            <svg class="icon-search" width="20" height="20">
              <use
                href="/img/symbol-defs.svg#icon-search"
              ></use>           
          </button>
        </div>
        <select class="category-select arrow-icon">
          <option value="">Categories</option>
          <!-- Категории будут добавлены динамически через JavaScript -->
        </select>
        <!-- for add task! -->
        <select  class="category-select-letter arrow-icon">
          <option value="a-z">A to Z</option>
          <option value="z-a">Z to A</option>
          <option value="cheap">Cheap</option>
          <option value="expensive">Expensive</option>
          <option value="popular">Popular</option>
          <option value="not-popular">Not popular</option>
          <option value="show-all">Show all</option>
        </select>
      </form>
    </div>
   </section>