<footer class="footer">
    <div class="footer-container container">
        <div class="footer-wramp">
        <div class="footer-logo-social">
        <div class="footer-logo">
            <a href="./index.html" class="footer-logo-link">
                <svg class="footer-logo-icon" width="28" height="28">
                    <use href="/img/symbol-defs.svg#icon-icon-f"></use>
                </svg>
                <span class="logo-span">Food Boutique</span>
            </a>
        </div>
        <div class="footer-social">
            <ul class="footer-social-list list">
                <li class="footer-social-item">
                    <a class="footer-social-link link" target="_blank" href="https://www.facebook.com/goITclub/">
                        <svg class="footer-img-icons" width="40" height="40">
                            <use href="/img/symbol-defs.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link link" target="_blank" href="https://www.instagram.com/goitclub/">
                        <svg class="footer-img-icons" width="40" height="40">
                            <use href="/img/symbol-defs.svg#icon-insta">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link link" target="_blank" href="https://www.youtube.com/c/GoIT">
                        <svg class="footer-img-icons" width="40" height="40">
                            <use href="/img/symbol-defs.svg#icon-youtube">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-reklam-form">   
    <div class="footer-reklam">
            <h2 class="footer-reklam-title">Discover the Variety of Flavors and Quality
            </h2>
            <p class="footer-text">An online store where you will find fresh, natural and delicious products for a
                healthy life and unforgettable gastronomic adventures.
            </p>
        </div>
        <div class="footer-form">
            <p class="footer-form-text">Subscribe and learn about new products!</p>
            <form class="footer-form" id="subscriptionForm">
                <label class="footer-form-label">
                    <input class="footer-form-input"
                    name="email"
                    type="email"
                    placeholder="Email"
        maxlength="200"
        pattern="^([^ ]+@[^ ]+\.[a-z]{2,6}|)$"
        title="Use the format: test@gmail.com"
        aria-label="Subscribe to our newsletter. Enter your email address here."
        required>
                </label>
                <button class="footer-form-button" type="submit">Send
                </button>
            </form>
        </div>
        </div> 
        </div>
        <div class="footer-privacy">
            <p class="footer-privacy-text">Food Boutique. All rights reserved.</p>
            <p class="footer-privacy-polisy">Privacy Policy / Terms of Service</p>
            
        </div>
</div>
    
</footer>