<header class="header-border">
	<div class="container header-container">
	  <nav class="header-navigation">
		 <a class="link web" href="./index.html"
			>Web<span class="web-studio">Studio</span></a
		 >
		 <ul class="header-navigation-list list">
			<li class="navigation-list">
			  <a href="./index.html" class="header-nav link current">Studio</a>
			</li>
			<li class="navigation-list">
			  <a href="./portfolio.html" class="header-nav link">Portfolio</a>
			</li>
			<li class="navigation-list">
			  <a href="" class="header-nav link">Contacts</a>
			</li>
		 </ul>
	  </nav>
	  <address class="adress">
		 <ul class="header-navigation-adress list">
			<li>
			  <a class="btn-adress-nav link" href="mailto:info@devstudio.com"np
				 >info@devstudio.com
			  </a>
			</li>
			<li>
			  <a class="btn-adress-nav link" href="tel:+110001111111"
				 >+11 (000) 111-11-11</a
			  >
			</li>
		 </ul>
	  </address>
	  <button type="button" class="mobile__button" data-menu-open>
		 <svg class="mobile__button_open" width="32" height="22">
			<use href="./images/icons.svg#icon-hamburger"></use>
		 </svg>
	  </button>
	  <div class="mobile__modal is-hidden" data-menu>
			<ul class="mobile__list list">
				<li class="mobile__item ">
				  <a href="./index1.html" class="mobile__header__nav link mobile__current">Studio</a>
				</li>
				<li class="mobile__item">
				  <a href="./portfolio.html" class="mobile__header__nav link">Portfolio</a>
				</li>
				<li class="mobile__item">
				  <a href="" class="mobile__header__nav link">Contacts</a>
				</li>
			 </ul>
		 <div class="mobile__bottom">
			 <ul class="mobile__contacts">
			<li class="mobile__list list">
			  <a
				 class="mobile__phone link"
				 href="tel:+380961111111"
			  >
			  +38 096 111 11 11</a
			  >
			</li>
			<li class="mobile__list list">
				<a
				  class="mobile__emailadress link"
				  href="mailto:info@devstudio.com"
				>
				info@devstudio.com</a
				>
			 </li>
			</li>
		 </ul>
		 <ul class="list mobile__society">
			<li class="societ__item">
			  <a href="" class="svg-link">
				 <svg class="social-link" width="24" height="24">
					<use href="./images/icons.svg#icon-instagram-2"></use>
				 </svg>
			  </a>
			</li>
			<li class="societ__item">
			  <a href="" class="svg-link">
				 <svg class="social-link" width="24" height="24">
					<use href="./images/icons.svg#icon-twitter-1"></use>
				 </svg>
			  </a>
			</li>
			<li class="societ__item">
			  <a href="" class="svg-link">
				 <svg class="social-link" width="24" height="24">
					<use href="./images/icons.svg#icon-facebook-1"></use>
				 </svg>
			  </a>
			</li>
			<li class="societ__item">
			  <a href="" class="svg-link">
				 <svg class="social-link" width="24" height="24">
					<use href="./images/icons.svg#icon-linkedin-1"></use>
				 </svg>
			  </a>
			</li>
		 </ul>
		</div>
		 <button class="menu__svg" type="button" data-menu-close>
			<svg class="menu__close" width="8" height="8">
			  <use href="./images/icons.svg#icon-close"></use>
			</svg>
		 </button>
</div>
	</div>
 </header>