<section class="products">
  <div class="container prodacts-container">
    <div class="products-list-container">
      <h2 class="products-section-title visually-hidden">Products</h2>
      <ul class="js-products-list"></ul>
      <div id="pagination"></div>
    </div>
    <div class="popular-discount-container">
      <div class="popular-products">
        <h2 class="products-title">Popular products</h2>
        <ul class="js-popular-list"></ul>
      </div>
      <div class="discount-products">
        <h2 class="products-title">Discount products</h2>
        <ul class="js-discount-list"></ul>
      </div>
    </div>
  </div>
</section>
