/* ==========================================================================
   Styles of products (Таня)
   ========================================================================== */

/* ==========================================================================
   Media for products
   ========================================================================== */

/* ==========================================================================
   Styles of checkout (Андрій)
   ========================================================================== */

.checkout-title {
  color: #010101;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.checkout-total-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  margin-bottom: 30px;
  padding: 18px 14px;
}

.checkout-text {
  color: #010101;
  font-size: 18px;
  line-height: 20px;
}

.checkout-total {
  color: #010101;
  font-size: 24px;
  line-height: 28px;
}

.checkout-input-email {
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  margin-bottom: 14px;
}

.checkout-input-email::placeholder {
  color: rgba(1, 1, 1, 0.5);
  font-size: 100px;
  font-weight: 400;
  line-height: 18px;
}

.checkout-input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-button {
  color: #e8e8e2;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 20px; /* Adjusted for better consistency */
  border-radius: 30px;
  background: #6d8434;
  box-shadow: none;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.empty-cart-image {
  width: 132px;
  height: 114px;
  margin-bottom: 28px;
}

.empty-cart-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
}

.empty-cart-title-span {
  color: #6d8434;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.empty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto;
  width: 279px;
}

/* ==========================================================================
   Media for checkout
   ========================================================================== */

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .checkout-title {
    font-size: 32px;
    line-height: 32px;
  }

  .checkout-total-wrap {
    max-width: 590px;
    margin-bottom: 40px;
  }

  .checkout-text {
    font-size: 20px;
    line-height: 24px;
  }

  .checkout-total {
    font-size: 32px;
    line-height: 32px;
  }

  .checkout-input-wrap {
    flex-direction: row;
  }

  .checkout-input-email {
    padding: 15px 172px 15px 20px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .input::placeholder {
    font-size: 18px;
    line-height: 24px;
  }

  .checkout-button {
    font-size: 20px;
    line-height: 24px;
    padding: 15px 65px;
  }

  .empty-cart-image {
    width: 164px;
    height: 140px;
    margin-bottom: 40px;
  }

  .empty-cart-title {
    font-size: 20px;
    line-height: 24px;
  }

  .empty-cart-title-span {
    font-size: 20px;
    line-height: 24px;
  }

  .empty-cart-text {
    font-size: 18px;
    line-height: 24px;
    width: 387px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .checkout-input-email {
    margin-right: 16px;
  }
}
