/* ==========================================================================
   Styles of products (Таня)
   ========================================================================== */
.cart-title {
  display: flex;
  align-items: center;
}

.cart-title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bg);
  width: 42px;
  height: 42px;
  border-radius: 90px;
  border: 0;
}

.cart-title-text {
  padding-left: 14px;
  color: var(--text);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
}
.delete-all {
  display: flex;
  justify-content: flex-end;
}
.btn-delete-all {
  width: 112px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  cursor: pointer;
}
.btn-x {
  height: 24px;
  width: 24px;
}

.cart-products-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 480px;
}
.cart-product-item {
  display: flex;
  width: 335px;
  height: 160px;
}
.cart-delete {
}
.cart-btn-delete {
}
.cart-icon-close-sharp {
}
.cart-product-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 335px;
  height: 160px;
}
.cart-product-img-container {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--third-bg);
}
.cart-product-img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.cart-product-parameter-container {
}
.cart-product-title {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
.cart-product-parameter {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
.cart-span-parameter-value {
  color: var(--text);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
.price {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
/* ==========================================================================
   Media for products
   ========================================================================== */

/* ==========================================================================
   Styles of checkout (Андрій)
   ========================================================================== */
.cart-wrap {
  padding-bottom: 79px;
}

.checkout-title {
  color: #010101;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.checkout-total-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  margin-bottom: 30px;
  padding: 18px 14px;
}

.checkout-text {
  color: #010101;
  font-size: 18px;
  line-height: 20px;
}

.checkout-total {
  color: #010101;
  font-size: 24px;
  line-height: 28px;
}

.checkout-input-email {
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  margin-bottom: 14px;
  padding-left: 50px;
}

.checkout-input-email::placeholder {
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
}

.checkout-input-label:before {
  content: 'Mail: ';
  position: absolute;
  left: 20px;
  top: 24%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.checkout-input-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.checkout-button {
  color: #e8e8e2;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 20px; /* Adjusted for better consistency */
  border-radius: 30px;
  background: #6d8434;
  box-shadow: none;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.empty-cart-image {
  width: 132px;
  height: 114px;
  margin-bottom: 28px;
}

.empty-cart-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
}

.empty-cart-title-span {
  color: #6d8434;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.empty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto;
  width: 279px;
}

/* ==========================================================================
   Media for checkout
   ========================================================================== */

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .cart-wrap {
    padding-bottom: 100px;
  }

  .checkout-title {
    font-size: 32px;
    line-height: 32px;
  }

  .checkout-total-wrap {
    max-width: 590px;
    margin-bottom: 40px;
  }

  .checkout-text {
    font-size: 20px;
    line-height: 24px;
  }

  .checkout-total {
    font-size: 32px;
    line-height: 32px;
  }

  .checkout-input-wrap {
    flex-direction: row;
  }

  .checkout-input-email {
    padding: 15px 172px 15px 20px;
    margin-right: 8px;
    margin-bottom: 0;
    padding-left: 60px;
  }

  .input::placeholder {
    font-size: 18px;
    line-height: 24px;
  }

  .checkout-input-label:before {
    top: 49%;
    font-size: 18px;
    line-height: 24px;
  }

  .checkout-button {
    font-size: 20px;
    line-height: 24px;
    padding: 15px 65px;
  }

  .empty-cart-image {
    width: 164px;
    height: 140px;
    margin-bottom: 40px;
  }

  .empty-cart-title {
    font-size: 20px;
    line-height: 24px;
  }

  .empty-cart-title-span {
    font-size: 20px;
    line-height: 24px;
  }

  .empty-cart-text {
    font-size: 18px;
    line-height: 24px;
    width: 387px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .checkout-input-email {
    margin-right: 16px;
  }
}
