.discount-product-item {
  border-radius: 15px;
  background-color: var(--third-bg);
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .discount-product-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .discount-product-item {
    width: 100%;
  }
}

.discount-con{
  position: relative;
}

.discount-products{
  margin-bottom: 80px;
}

.js-discount-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px){
  .js-discount-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .js-discount-list {
    flex-direction: column;
    gap: 20px;
  }
}

.discount-image-container{
  border-radius: 10px;
  background: var(--main-bg);
  margin-bottom: 23px;
}

@media screen and (min-width: 1440px){
  .discount-image-container {
    margin-bottom: 21px;
  }
}

.discount-image{
  text-align: center;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

.discount-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-text-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 87px;
  gap: 8px;
}

.cart-button-disk {
  border-radius: 30px;
  background: var(--second-bg);
  padding: 8px;
  align-items: center;
  display: flex;  
}

.div-icon-discount{
  position: absolute;
  top: -12px;
  right: -6px;
}

.icon-discoun{
  width: 100%;
  height: 100%;
}