.footer {
  background-color: #6d8434;
  height: 652px;
  padding-top: 44px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* height: 652px; */
}

.footer-logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  /* margin-top: 40px; */
  margin-bottom: 20px;
}

.footer-logo-link {
  color: #e8e8e2;
  text-decoration: none;
}

.logo-span {
  color: #e8e8e2;
  align-items: center;
  width: 118px;
  height: 20px;
  font-family: QuincyCF-black;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.1em;
  /* 111.111% */
  letter-spacing: -0.36px;
}

.footer-logo-button {
}

.footer-logo-icon {
  fill: #6d8434;

  background-color: #e8e8e2;
  /* padding: 6px; */
  border-radius: 50%;
}

.footer-social {
}

.footer-social-list {
  display: flex;
  gap: 12px;
}

.list {
}

.footer-social-item {
}

.footer-social-link {
}

.link {
}

.footer-img-icons {
  color: #e8e8e2;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
}

.footer-reklam {
}

.footer-reklam-title {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  /* 116.667% */
  letter-spacing: -0.48px;
  margin-top: 40px;
  margin-bottom: 14px;
}

.footer-text {
  color: rgba(232, 232, 226, 0.7);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  /* 128.571% */
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-form-text {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  /* 128.571% */
  margin-top: 80px;
  margin-bottom: 20px;
}

.footer-form-label {
}

.footer-form-input {
  width: 285px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  background-color: transparent;
  color: rgba(232, 232, 226, 0.6);
  /* margin-bottom: 14px; */

  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  /* 128.571% */
  padding-left: 12px;
}

.footer-form-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
}

.footer-form-button {
  width: 285px;
  height: 42px;
  border-radius: 30px;
  background: #e8e8e2;
  justify-content: center;
  align-items: center;
  border: none;
  color: #010101;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3em;
  /* 128.571% */
  margin-bottom: 80px;
  /* padding: 12px 149px; */
}

.footer-privacy {
}

.footer-privacy-text {
  margin-bottom: 8px;
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  /* 128.571% */
  opacity: 0.9;
}

.footer-privacy-polisy {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  /* 128.571% */
}

.footer-span {
  color: #e8e8e2;
  font-size: 14px;
}

/*!!!!! ---mobile 320---!!!!!*/

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .footer-form-input {
    width: 335px;
    height: 42px;
  }
  .footer-form-button {
    width: 335px;
    height: 42px;
  }
}
