

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Common styles */

.container {
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.header {
  padding-top: 18px;
  background-color: transparent;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--second-bg);
  padding: 15px 12px;
  border-radius: 9px;
  background-color: transparent;

  transition: background-color var(--transition-duration) ease-in-out;
}

.header-logo:hover,
.header-logo:focus {
  background-color: var(--second-bg);
}

.header-logo:hover .logo-circle,
.header-logo:focus .logo-circle {
  fill: var(--main-bg);
}

.logo {
  width: 154px;
  height: 28px;
}

.logo-circle {
  fill: var(--second-bg);
  transition: fill var(--transition-duration) ease-in-out;
}

.logo-brain {
  fill: var(--main-bg);
  transition: fill var(--transition-duration) ease-in-out;
}

.logo-text {
  fill: var(--btn-black);
  transition: fill var(--transition-duration) ease-in-out;
}

.header-logo-icon {
;
}

.header-logo-span {
  color: black;
}



.header-logo:hover .logo-brain,
.header-logo:focus .logo-brain {
  fill: var(--second-bg);
}

.header-logo:hover .logo-text,
.header-logo:focus .logo-text {
  fill: var(--main-bg);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 6px;
}

.home-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  color: var(--main-bg);
  border-radius: 30px;
  background-color: var(--second-bg);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  transition: background-color var(--transition-duration) ease-in-out;
}



.cart-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--second-bg);
  transition: color var(--transition-duration) ease-in-out;
}

.home-link:hover,
.home-link:focus {
  background-color: var(--btn-green-dark);
}

.cart-link:hover,
.cart-link:focus {
  color: var(--btn-green-dark);
}

.cart-icon-header {
  width: 38px;
  height: 38px;
}

.cart-text {
  color: var(--btn-black);
  display: none;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header {
    padding-top: 24px;
  }

  .header-logo {
    padding: 8px 14px;
  }

  .logo {
    width: 195px;
    height: 32px;
  }

  .nav {
    gap: 14px;
  }

  .cart-text {
    display: block;
  }
  
  .home-link {
	padding: 12px 28px;
	font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 1,33;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1240px;
    padding: 0;
  }
}
