.pagination-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.tui-page-btn,
.first-page,
.last-page {
  color: rgba(1, 1, 1, 0.3);
  background-color: var(--third-bg);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  width: calc((100% - 8 * 4px) / 9);
  height: 28px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стилі для активної кнопки */
.tui-is-selected,
.first-page,
.last-page {
  background-color: var(--second-bg);
  color: #fff;
}

/* ====== Mobile ====== */
@media screen and (min-width: 375px) {
  .tui-page-btn,
  .first-page,
  .last-page {
    font-size: 14px;
    height: 34px;
  }
}

/* ====== Tablet ====== */
@media screen and (min-width: 768px) {
  .pagination-container {
    gap: 8px;
    max-width: 472px;
    margin: 50px auto 100px;
  }

  .tui-page-btn,
  .first-page,
  .last-page {
    width: calc((100% - 8 * 8px) / 9);
    height: 45px;
  }
}

/* ====== Desktop ====== */
@media screen and (min-width: 1440px) {
  .pagination-container {
    margin: 40px auto 61px;
  }
}

.tui-pagination .tui-last {
  display: none;
}

.tui-pagination .tui-first {
  display: none;
}

/* ****************** */

.tui-last,
.tui-first {
  display: none;
}
