.popular-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products-title {
  margin-bottom: 20px;
  font-family: Neue Montreal;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
}

@media screen and (min-width: 768px) {
  .products-title {
    font-size: 28px;
    line-height: 1.14;
  }
}

.js-popular-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .js-popular-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 563px;
  }
}
@media screen and (min-width: 1440px) {
  .js-popular-list {
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
  }
}

.product-template {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 12px;
}

.popular-product-item {
  border-radius: 20px;
  background: var(--third-bg);
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .popular-product-item {
    width: calc((100% - 13px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .popular-product-item {
    width: 100%;
  }
}
/* !======================== */
.cart-button-pop {
  /* fill: var(--second-bg); */
  display: flex;
  background-color: var(--second-bg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.cart-button-pop .cart-icon {
  width: 12px;
  height: 12px;
}



.popular-con {
  display: flex;
  gap: 10px;
  position: relative;
}

.product-image-container {
  background: #e8e8e2;
  cursor: pointer;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.product-image {
  padding-top: 9px;
  padding-bottom: 9px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .product-text-pop {
    gap: 5px;
  }
}

.cart-button-pop:hover {
  background: var(--second-bg);
}

.cart-icon-pop {
  fill: var(--second-bg);
  display: block;
  width: 12px;
  height: 12px;
}

.cart-button-pop:hover .cart-icon-pop {
fill: var(--main-bg);
}

.product-name {
  color: var(--text);
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .product-name {
    font-size: 18px;
    line-height: 1.2;
  }
}

.product {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.margin {
  margin-bottom: 9px;
}

.category-value,
.popularity-value,
.size-value {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.add-to-cart-btn {
  border: none;
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 30px;
  /* position: absolute;
  top: 16px;
  right: 16px;*/
}

/* .ico {
  stroke: #6d8434;
  width: 12px;
  height: 12px;
} */

/* .cart-icon-pop-check:hover,
:focus {
  stroke: #e8e8e2;
} */

@media (min-width: 768px) and (max-width: 1280px) {
  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-con {
    width: 251px;
    height: 74px;
  }
  .product-template {
    width: 275px;
    height: 98px;
  }
}

@media (min-width: 1280px) {
  .product-con {
    width: 251px;
    height: 74px;
  }
  .product-template {
    width: 275px;
    height: 98px;
  }
  .products-container {
    margin-bottom: 40px;
  }
  .contain {
    margin-top: 136px;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
  }
}
