@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('../fonts/stylesheet.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./popular_products.css');
@import url('./discount_products.css');
@import url('./products_list.css');
@import url('./pagination.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  --main-bg: #e8e8e2;
  --second-bg: #6d8434;
  --third-bg: #fafafa;
  --text: #010101;
  --second-text: #a3a3a3;
  --btn-green-dark: #586f1f;
  --btn-black: #010101;
  --discount: #fdc152;
  --black-transparent: #0101014d;
  --second-transparent: #e8e8e899;
  --transition-duration: 250ms;
  --transition-delay: 250ms;
}
body {
  font-family: 'Neue Montreal', sans-serif;
  background-color: var(--third-bg);
}

section {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
