@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('../fonts/stylesheet.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./popular_products.css');
@import url('./discount_products.css');
@import url('./products_list.css');
@import url('./footer.css');
@import url('./modal.css');
:root {
  --main-bg: #e8e8e2; /*footer-text-color*/ /*INPUT EMAIL TEXT AND TEXT BTN*/ /*BODI BG*/
  --second-bg: #6d8434; /*footer-bg-text-green-color*/
  --third-bg: #fafafa;

  --text: #010101;
  --second-text: #a3a3a3; /*PAGINATION ARROWS AND NUMBERS*/

  --btn-green-dark: #586f1f; /*DARK-GREEN BTN HOVER;*/
  /*--btn-gray: #e8e8e2;   */
  --btn-black: #010101;

  --discount: #fdc152;

  --black-transparent: #0101014d; /* rgba(1, 1, 1, 0.30);  ----- MODAL SMALL TEXT */
  --second-transparent: #e8e8e899; /* rgba(232, 232, 226, 0.60); -- INPUT EMAIL */

  --transition-duration: 250ms;
  --transition-delay: 250ms;
}
body {
  font-family: 'Neue Montreal';
}
